fastapi
uvicorn[standard]
sqlalchemy[asyncio]
asyncpg
alembic
python-jose[cryptography]
passlib[bcrypt]
python-multipart
pyngrok
qrcode[pil]
pillow
reportlab
PyPDF2
python-dotenv
psycopg2-binary
emails
email-validator
pydantic-settings
